extends layout

block content
  h1=title

  form(method='POST' action='http://localhost:3000/shopc')
    div.form-group
      label(for='Shopname') ShopName:
      input#first_name.form-control(type='text' placeholder='shopname' name='shopname' required='true' value=(undefined===shop ? '' : shop.shopname) )
      label(for='address') address:
      input#family_name.form-control(type='text' placeholder='address' name='address' required='true' value=(undefined===shop ? '' : shop.address))
      label(for='phone') phone:
      input#first_name.form-control(type='text' placeholder='phone' name='phone' required='true' value=(undefined===shop ? '' : shop.phone) )
      label(for='owner') owner:
      input#family_name.form-control(type='text' placeholder='owner' name='owner' required='true' value=(undefined===shop ? '' : shop.owner))
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg
